# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
env/

# VS Code / PyCharm
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log
